<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine"> -->
    <link href="/static/styles.css" rel="stylesheet">
    <title>TOOLX</title>
    <link rel="icon" type="image/x-icon" href="/static/favicotransperent.png">
</head>
<body>
    

    
<div id="frame" class="frame">
    <figure>
      <div class="image-1"></div>
      <div class="image-2"></div>
      <div class="image-2"></div>
      <div class="image-2"></div>
      <div class="image-2"></div>
      <div class="image-2"></div>
      <div class="image-2"></div>
      <div class="image-2"></div>
      <div class="image-2"></div>
    </figure>
    <div class="text">
      <p class="frame-text">TOOLX</p>
      <p class="frame-text">Amazing Set of Tools</p>
    </div>
  </div>


    <nav id="navtext" class="navbar" >
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand " href="#">
                TOOLX
              </a>
        </div>
    </nav>
    
   

    
    <div id="btn-top" class="btn-group btn-group-lg centere btn" role="group" aria-label="Large button group">
      <form action="/" method="post" id="toolid">
        <button name="button" type="submit" value="text" class="btn btn-outline-dark font">Text</button>
        <button name="button" type="submit" value="numbers" class="btn btn-outline-dark font">Numbers</button name="button">
        <button name="button" type="submit" value="file" class="btn btn-outline-dark font">File Converter</button name="button">
        <button name="button" type="submit" value="photo" class="btn btn-outline-dark font">Photos</button name="button">
        <button name="button" type="submit" value="video" class="btn btn-outline-dark font">Videos</button name="button">
        <button name="button" type="submit" value="audio" class="btn btn-outline-dark font">Audio</button>
      </form>
        
      </div>
    
</body>
</html>